# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# No subir tfvars con secretos si alguna vez agregas uno con credenciales reales
*.secret.tfvars

# Node.js (Lambdas)
node_modules/
npm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store

# Lambdas empaquetadas (se regeneran con terraform plan/apply)
lambdas/*.zip

# Llave privada SSH del EC2 de monitoreo (generada por Terraform, nunca se sube)
*.pem
